@import "../../App.scss";

.buttonspinner {
	height: 40px;
	width: 80px;
	text-align: center;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 25px;
	background: $themelight;

	transition: width 0.3s;

	&.saving {
		height: 40px;
		width: 40px;
		padding: 0.5rem 1rem 0.7rem;
		animation: rotate 0.5s infinite linear;
	}
}
