@import "../../../../App.scss";

.inputbox {
	grid-area: inputbox;
	position: relative;

	&__action {
		height: 0px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		transition: height 0.3s;
		background: #dddddd;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		&.active {
			height: 32px;
		}

		&__p {
			margin: auto 0.5rem;
		}

		&__close {
			border: none;
			outline: none;
			background: #ddd;
			margin: auto 0.75rem;
			z-index: -1;

			&.active {
				z-index: 1;
			}
		}
	}

	&__input {
		width: calc(100% - 40px);
		height: 32px;
		margin: auto 0;
		padding: 8px 10px;

		overflow: hidden;

		border: none;
		border-radius: 10px;
		resize: none;
		background: #dddddd;

		font-size: 14px;

		&.action {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	&__gallery {
		height: 28px;
		width: 32px;
		position: absolute;
		margin: 2px 4px;

		border: none;
		border-radius: 7px;
		background: #dddddd;
		padding: 6px 10px;
	}
}
