@import "~include-media/dist/_include-media.scss";

$mobile: ">phone", "<=desktop";
$desktop: ">desktop";

@mixin mediaSm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1170px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}

@keyframes slideTextIn {
	from {
		line-height: 0%;
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		line-height: 100%;
	}
	to {
		line-height: 100%;
		opacity: 1;
	}
}

@keyframes slideTextOut {
	from {
		line-height: 100%;
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	to {
		line-height: 0%;
		opacity: 0;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

$hovertext: #a64bf4;
$themedark: #198ca3;
$themelight: #5bd0a4;