@import "../../../../../../App.scss";

.invitecard {
	width: 100%;
	height: 30px;
	display: grid;
	grid-template-columns: auto 80px 200px 35px;

	&__iid {
		margin: auto 10px;
		text-decoration: underline;
		cursor: pointer;
	}

	&__uses,
	&__expires {
		margin: auto;
	}

	&__delete {
		height: 25px;
		margin-right: 10px;

		border: none;
		border-radius: 50%;
		outline: none;
		font-size: 17px;

		transition: background-color 0.2s, color 0.2s;

		&:hover:not(.disabled) {
			color: white;
			background-color: #f85757;
		}
	}
}
