@import "../../../../App.scss";

.joingroup {
	height: 88vh;
	margin: auto 0;
	padding: 2rem;
	background: white;
	border-radius: 25px;

	&__title {
		margin-left: 10px;
		font-size: 28px;
		font-family: Poppins-Thin;
	}

	&__response {
		margin: 1.2rem 20px 0;
	}

	.buttonspinner {
		margin: 1rem 10px;
	}
}