@import "../../../App.scss";

.chatdetails {
	grid-area: chatdetails;
	overflow-y: scroll;
	scrollbar-width: none;
	margin: 1rem 0;
	width: 100%;

	&__icon {
		width: 20vw;
		margin: 0 auto;
		display: block;
		border: 3px solid #c1c3c4;
		border-radius: 50%;

		&__skeleton {
			width: 20vw;
			height: 20vw;
			border-radius: 50% !important;
		}
	}

	&__name {
		margin: 1rem auto;
		padding: 0.25rem 0.5rem;

		font-size: 24px;
		text-align: center;

		border-radius: 25px;
		background-color: #b5cea4;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	&__members {
		list-style: none;
	}

	&__member {
		height: calc(50px + 0.5rem);

		padding: 0.25rem;
		display: flex;

		border-radius: 25px;

		&:hover {
			background-color: #dbdbdb;
			cursor: pointer;
		}

		&__pfp {
			height: 50px;
			border: 2px solid #c1c3c4;
			border-radius: 25px;

			&__skeleton {
				width: 50px !important;
				height: 50px !important;
				border-radius: 50% !important;
			}
		}

		&__info {
			margin: auto 0.5rem;

			&__name {
				font-size: 18.72px;
				font-weight: bold;
				border: none;
				background: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
