@import "../../../../../App.scss";

.groupcard {
	margin: 0.25rem 0;
	padding: 0.25rem;
	display: flex;

	&__icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: block;

		&__skeleton {
			width: 50px !important;
			height: 50px !important;
			border-radius: 50% !important;
			display: block !important;
		}
	}

	&__name {
		margin: auto 0.5rem;
		font-family: Poppins-SemiBold;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
