@import "../../../../App.scss";

.message {
	padding: 0.05rem 0.75rem;
	border-radius: 12.5px;
	display: flex;
	justify-content: space-between;

	&__title {
		margin-top: 0.5rem;
		color: $hovertext;
	}

	&__date {
		background-color: darken(#e1f3fb, 3);
		padding: 3px 5px;
		color: grey;
		border-radius: 25px;
		margin: 0.25rem auto;
	}

	&:hover {
		background: #dbdbdb;
	}

	&__sender {
		font-family: Poppins-SemiBold;
	}

	&__text {
		font-family: Poppins-Regular;
		font-size: 14px;
		word-break: break-all;
		hyphens: auto;
		width: fit-content;
	}

	&__image {
		width: 40%;
		padding: 1rem;
	}

	&__data {
		display: flex;
		flex-direction: column;

		&__reply {
			margin: 0.5rem 0;
			padding: 0 0.5rem;
			font-size: 14px;
			border-left: 3px solid $themelight;
		}

		&__text {
			font-family: Poppins-Regular;
			font-size: 15px;
			word-break: break-all;
			hyphens: auto;
			width: fit-content;
		}

		&__image {
			width: 40%;
			padding: 1rem;
		}
	}

	&__deleted {
		font-family: Poppins-Regular;
		font-size: 14px;
		opacity: 0.25;
	}

	&__info {
		font-family: Poppins-Regular;
		font-size: 14px;
		display: flex;
		margin: auto 0;

		&__time {
			width: 70px;
			height: fit-content;
			margin: auto 0 auto 0.5rem;

			white-space: nowrap;
			color: grey;
		}

		&__icon {
			width: 20px;
			height: 20px;

			& > img {
				height: 100%;
			}
		}
	}
}
