@import "../../../../App.scss";

.chatprofile {
	height: 100%;
	display: flex;

	&__icon {
		width: 48px;
		height: 48px;

		border: 2px solid #c1c3c4;
		border-radius: 25px;

		&__skeleton {
			width: 48px !important;
			height: 48px !important;
			border-radius: 50% !important;
		}
	}

	&__info {
		margin-left: 0.5rem;
	}
}
