@import "../../../../App.scss";

.creategroup {
	height: 88vh;
	margin: auto 0;
	padding: 2rem;
	background: white;
	border-radius: 25px;

	&__title {
		margin-left: 10px;
		margin-bottom: 10px;
		font-size: 28px;
		font-family: Poppins-Thin;
	}

	&__icon {
		width: 150px;
		height: 150px;
		display: block;
		margin-left: 10px;
		border-radius: 50%;

		&__skeleton {
			width: 150px !important;
			height: 150px !important;
			display: block !important;
			margin-left: 10px !important;
			border-radius: 50% !important;
		}

		&__button {
			margin: 0.5rem 10px 1rem 10px;
			padding: 0.5rem 1rem;
			border: 0;
			border-radius: 25px;
			background: $themedark;
		}
	}

	&__response {
		margin: 1rem 10px 0;
		color: lightgray;
	}

	.buttonspinner {
		margin: 1rem 10px;
	}
}
