@import "../../../App.scss";

.chatcontent {
	grid-area: chatcontent;
	display: grid;
	grid-template-areas:
		"chat"
		"messages"
		"inputbox";
	grid-template-rows: 1fr 8fr auto;
	margin: auto 0;
	height: 88vh;

	overflow: hidden;

	&__messages {
		grid-area: messages;
		overflow-y: scroll;
		scrollbar-width: none;
		padding-bottom: 0.5rem;

		& > div {
			scrollbar-width: none;
		}
	}
}

.selectchat {
	display: flex;
	justify-content: center;
	align-items: center;

	&__data {
		width: 100%;

		&__logo {
			width: 80%;
			max-width: 320px;
			margin: auto;
			display: block;
		}

		&__message {
			font-family: Poppins-Thin;
			margin: auto;

			&.error {
				padding: 0.5rem 0.75rem;
				color: white;
				border-radius: 25px;
				background: rgb(238, 138, 138);
			}
		}
	}
}
