@import "../../../App.scss";

.profile {
	grid-area: content;
	padding: 3rem;

	&__pfp {
		width: 150px;
		height: 150px;
		display: block;
		border-radius: 50%;

		&__skeleton {
			width: 150px !important;
			height: 150px !important;
			display: block !important;
			border-radius: 50% !important;
		}

		&__button {
			margin: 0.5rem 10px 1rem 10px;
			padding: 0.5rem 1rem;
			border: 0;
			border-radius: 25px;
			background: $themedark;
		}
	}

	&__link {
		margin: 0 0 0.5rem 10px;
		font-size: 14px;

		& > span {
			background: lightgrey;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	&__usnm {
		margin-bottom: 0.5rem;
	}

	&__response {
		margin: 1rem 10px 0;
		color: lightgray;
	}

	.buttonspinner {
		margin: 1rem 10px;
	}
}
